<ion-header>
  <ion-toolbar>
    <ion-title>
      Currency calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-input type="number" placeholder="Enter pounds" [(ngModel)]="pounds"></ion-input>
<ion-input readonly value="{{euros | number : '1.2-2' }}" placeholder="Euros calculated"></ion-input>
<ion-button (click)="calculate()">Calculate</ion-button>
</ion-content>
